<div *ngIf="stepForm" [formGroup]="stepForm" class="form-grid">
  <!-- CUI -->
  <clr-input-container class="col-span-2">
    <label class="clr-required-mark">Código Único de Identificación (CUI / DPI)</label>
    <input
      clrInput
      formControlName="cui"
      appOnlyDigits
      inputmode="numeric"
      maxlength="13"
      autocomplete="off"
      placeholder="13 dígitos según su DPI"
    />
    <clr-control-helper>Ingrese los 13 dígitos de su documento sin espacios ni guiones</clr-control-helper>
    <clr-control-error *clrIfError="'required'">El CUI es obligatorio</clr-control-error>
    <clr-control-error *clrIfError="'pattern'">Debe contener exactamente 13 dígitos numéricos</clr-control-error>
    <clr-control-error *clrIfError="'invalidCui'; error as err">{{ err }}</clr-control-error>
  </clr-input-container>

  <!-- Nombres -->
  <clr-input-container>
    <label class="clr-required-mark">Nombres</label>
    <input
      clrInput
      formControlName="nombres"
      appCapitalizeWords
      maxlength="45"
      placeholder="Sus nombres"
      autocomplete="given-name"
    />
    <clr-control-error *clrIfError="'required'">Los nombres son obligatorios</clr-control-error>
  </clr-input-container>

  <!-- Apellidos -->
  <clr-input-container>
    <label class="clr-required-mark">Apellidos</label>
    <input
      clrInput
      formControlName="apellidos"
      appCapitalizeWords
      maxlength="45"
      placeholder="Sus apellidos"
      autocomplete="family-name"
    />
    <clr-control-error *clrIfError="'required'">Los apellidos son obligatorios</clr-control-error>
  </clr-input-container>

  <!-- Género: Radio group nativo de Clarity -->
  <clr-radio-container clrInline class="col-span-2">
    <label class="clr-required-mark">Género</label>
    <clr-radio-wrapper *ngFor="let g of generos">
      <input type="radio" clrRadio [value]="g.id" formControlName="genero" />
      <label>{{ g.value }}</label>
    </clr-radio-wrapper>
    <clr-control-error *clrIfError="'required'">Seleccione su género</clr-control-error>
  </clr-radio-container>

  <!-- Estado Civil -->
  <clr-select-container>
    <label class="clr-required-mark">
      Estado civil
      <clr-spinner *ngIf="loadingCatalogos()" clrInline clrSmall></clr-spinner>
    </label>
    <select clrSelect formControlName="estado_civil_id">
      <option value="">Seleccione…</option>
      <option *ngFor="let c of estadoCivil()" [value]="c.id">{{ c.nombre }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione el estado civil</clr-control-error>
  </clr-select-container>

  <!-- Profesión -->
  <clr-select-container>
    <label class="clr-required-mark">
      Profesión u oficio
      <clr-spinner *ngIf="loadingCatalogos()" clrInline clrSmall></clr-spinner>
    </label>
    <select clrSelect formControlName="profesion_id">
      <option value="">Seleccione…</option>
      <option *ngFor="let p of profesiones()" [value]="p.id">{{ p.nombre }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione la profesión</clr-control-error>
  </clr-select-container>
</div>