<div [formGroup]="stepForm" class="rv-grid">
  <!-- País -->
  <clr-select-container>
    <label class="clr-required-mark">País</label>
    <select clrSelect [(ngModel)]="paisId" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPaisChange($event)">
      <option [ngValue]="null">Seleccione…</option>
      <option *ngFor="let p of paises()" [ngValue]="p.pais_id">{{ p.descripcion }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione el país</clr-control-error>
  </clr-select-container>

  <!-- Departamento -->
  <clr-select-container>
    <label class=" clr-required-mark">Departamento</label>
    <select clrSelect [(ngModel)]="deptoId" [ngModelOptions]="{standalone: true}"
      (ngModelChange)="onDeptoChange($event)">
      <option [ngValue]="null">Seleccione…</option>
      <option *ngFor="let d of deptos()" [ngValue]="d.depto_id">{{ d.descripcion }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione el departamento</clr-control-error>
  </clr-select-container>

  <!-- Municipio -->
  <clr-select-container>
    <label class="clr-required-mark">Municipio</label>
    <select clrSelect [(ngModel)]="muniId" [ngModelOptions]="{standalone: true}" (ngModelChange)="onMuniChange($event)">
      <option [ngValue]="null">Seleccione…</option>
      <option *ngFor="let m of munis()" [ngValue]="m.muni_id">{{ m.descripcion }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione el municipio</clr-control-error>
  </clr-select-container>

  <!-- Comuna (antes Zona) -->
  <clr-select-container>
    <label class="clr-required-mark">Comuna</label>
    <select clrSelect formControlName="comuna_id">
      <option [ngValue]="null">Seleccione…</option>
      <option *ngFor="let c of comunas()" [ngValue]="c.comuna_id">{{ c.descripcion }}</option>
    </select>
    <clr-control-error *clrIfError="'required'">Seleccione la comuna</clr-control-error>
  </clr-select-container>

  <!-- Dirección exacta -->
  <clr-input-container class="rv-full">
    <label class="clr-required-mark">Dirección exacta</label>
    <input clrInput formControlName="direccion" />
    <clr-control-helper>Dirección de residencia según recibo de luz</clr-control-helper>
    <clr-control-error *clrIfError="'required'">La dirección es obligatoria</clr-control-error>
    <clr-control-error *clrIfError="'maxlength'; error as err">Máximo {{ err.requiredLength }}
      caracteres</clr-control-error>
  </clr-input-container>
</div>
<button clrStepButton="next" class="btn btn-primary">Siguiente</button>