<div *ngIf="stepForm" [formGroup]="stepForm" class="form-grid">
  <!-- Teléfono -->
  <clr-input-container>
    <label class="clr-required-mark">Teléfono móvil</label>
    <input
      clrInput
      formControlName="telefono"
      appOnlyDigits
      inputmode="numeric"
      maxlength="8"
      autocomplete="tel"
      placeholder="Ej: 55551234"
    />
    <clr-control-helper>8 dígitos para notificaciones y avisos municipales</clr-control-helper>
    <clr-control-error *clrIfError="'required'">El teléfono es obligatorio</clr-control-error>
    <clr-control-error *clrIfError="'pattern'">Debe contener exactamente 8 dígitos</clr-control-error>
  </clr-input-container>

  <!-- Correo electrónico -->
  <clr-input-container>
    <label class="clr-required-mark">Correo electrónico</label>
    <input
      clrInput
      type="email"
      formControlName="correo"
      autocomplete="email"
      placeholder="ejemplo@correo.com"
    />
    <clr-control-helper>Recibirá su contraseña temporal en esta dirección</clr-control-helper>
    <clr-control-error *clrIfError="'required'">El correo es obligatorio</clr-control-error>
    <clr-control-error *clrIfError="'email'">Formato de correo electrónico inválido</clr-control-error>
    <clr-control-error *clrIfError="'invalidCorreo'; error as err">{{ err }}</clr-control-error>
  </clr-input-container>
</div>